<ion-view view-title="About" align-title="left">
  <ion-content style="background-color: black; color: white;">
    <p>
      <br/>
      <img src="img/logo.png" id="appIcon"/>
      <center>Version: 0.0.2</center>
    </p>
    <ion-list>
      <ion-item style="color: white;">
        Have Feedback? Leave a review on the Google Play<br/> Store for this app.
      </ion-item>
      <ion-item ng-click="openTwitter();" style="color: white;">
        Follow on <i class="icon ion-social-twitter"></i> Twitter @joselevelsup
      </ion-item>
      <ion-item ng-click="openInsta();" style="color:white;">
        Follow on <i class="icon ion-social-instagram-outline"></i> Instagram @joselevelsup
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
