<ion-view view-title="Editor">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-play" ng-style="playButton" ng-click=playFile(f.name);></button>
    <button class="button button-icon button-clear ion-more" ng-click="popover.show($event);"></button>
    <button class="button button-icon button-clear ion-code" ng-click="modal5.show();"></button>
  </ion-nav-buttons>
  <ion-content style="background-color:#222c32">
    <div ui-codemirror ui-codemirror-opts="editOptions" ng-model="file.editor"></div>
  </ion-content>
</ion-view>
