<ion-view view-title="Home" align-title="left">
  <br/>
  <ion-content>
    <h2>Welcome to the MobIDE</h2>
    <p>
      This is a mobile code editor available for mobile devices such as Android and iOS (coming soon to iOS);
    </p>
    <p>
      This code editor provides:
      <ul>
        <li>
          Syntax Highlighting!
        </li>
        <li>
          At the moment, supports 7 Languages!
        </li>
        <li>
          The ability to Create, Save, and Open files from the Mobide Directory!
        </li>
      </ul>
      More features are to come soon!
    </p>
  </ion-content>
</ion-view>
