<ion-modal-view>
  <ion-header-bar class="bar bar-dark">
    <button class="button button-icon button-clear ion-close-round" ng-click="modal2.hide()"></button>
    <h1 class="title">Open File</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="f in dirFiles" ng-click="openThis(f.name, f.isFile, f.isDirectory);">
        <div ng-if="f.isDirectory == true">
            <i class="icon ion-folder"></i> {{f.name}}
        </div>
        <div ng-if="f.isFile == true">
            <i class="icon ion-document-text"></i> {{f.name}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
