<ion-popover-view style="height:120px;">
    <ion-list>
      <ion-item ng-click="htmlChange();">
        HTML
      </ion-item>
      <ion-item ng-click="cssChange();">
        CSS
      </ion-item>
      <ion-item ng-click="javascriptChange();">
        Javascript
      </ion-item>
      <ion-item ng-click="coffeeChange();">
        Coffee Script
      </ion-item>
      <ion-item ng-click="cplusChange();">
        C++
      </ion-item>
      <ion-item ng-click="csharpChange();">
        C#
      </ion-item>
      <ion-item ng-click="javaChange();">
        Java
      </ion-item>
    </ion-list>
</ion-popover-view>
