<ion-popover-view style="height: auto;">
    <ion-list>
      <ion-item ng-click="newFileModal();">
        <i class="icon ion-plus-round"></i> New
      </ion-item>
      <ion-item ng-click="newFolderModal();">
        <i class="icon ion-android-folder"></i> New Directory
      </ion-item>
      <ion-item ng-click="openFileModal();">
        <i class="icon ion-android-open"></i> Open
      </ion-item>
      <ion-item ng-click="saveModal();">
        <i class="icon ion-android-archive"></i> Save
      </ion-item>
    </ion-list>
</ion-popover-view>
