#appIcon{
  width: 100px;
  height:100px;
}

.modal{
  top: 20% !important;
  right: 20% !important;
  bottom: 20% !important;
  left: 13% !important;
  overflow: visible !important;
  min-height: 50px !important;
  width: 78% !important;
}
